*.aux
*.log
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.dvi
*.xdv
*-converted-to.*
*.ps
*.eps
*.fls
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.bbl
*.blg
*.glo
*.gls
*.glsdefs
*.ist
*.lof
*.lot
*.makefile
*.mw
*.dpth
*.md5
*.auxlock
*-blx.aux
*-blx.bib
*.run.xml
*.figlist
*.makefile
*.auxlock
tools/.tmp/
tools/node_modules/
.build/